body{                      /*the code here is the same as the last section i will comment whenever you see something new*/
	max-width: 100%;
background-image:url("C:/Users/user/Desktop/csy1018/cgiannis.github.io/csy1018-assign1/images/yourstory-education.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
}
h1{
  margin-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
	letter-spacing: 1px;
  height: 50px;
  width: 30%;
  color : brown;
   text-align: center;
   border-radius: 8px;
   background-color: #F0E68C;
}
h2{
margin-top: 1%;
  font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
height: 40px;
width: 13%;
color : brown;
 text-align: center;
 border-radius: 8px;
 background-color: #F0E68C;


}
p{

    font-family: 'Oswald', sans-serif;
		letter-spacing: 1px;
      background-color: #F0E68C;
      color : 		brown;
        border-radius: 5px;
        text-align: left;
        padding: 1%;
          max-width: 5%;
					max-height: 1%;
}
ul {
    margin-top: 20%;
  font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
  background-color: #F0E68C;
color : 		brown;
  border-radius: 15px;
  background: #F0E68C;
   list-style: square inside url("sqpurple.gif");
      list-style-position:inside;
}
input[type=text] { /*this is an input in the contact form specifically its aboout the text area*/
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text2], select { /*i made another type of text area input in order to make them different*/
    width: 30%;
    padding: 10px 40px;
    margin: 0px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {/*this is the submit button input*/
    width: 10%;
    background-color:	#F0E68C;
    color: brown;
		font-family: 'Oswald', sans-serif;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
		margin: 4px 2px;
}

input[type=submit]:hover { /*i made the submit button change color when i touch it*/
    background-color: #BDB76B;
}
