  ul.styled-list {
    display: -webkit-flex;
   -webkit-flex-direction: row-reverse;
   display: flex;
   flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 		#F0E68C;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
        float: right;
}
li.styled-list{
    float: right;
}

li a {
    display: block;
    color: brown;
    text-align: center;
    padding: 13px 100px;
    text-decoration: none;
}
li a:hover {
    background-color: 		#BDB76B;
}
li.styled-list2{
  float: left;
}
